# Mathletics

## Chapter 2:

In [29]:
import pandas as pd
import numpy as np

In [30]:
df_teams = pd.read_csv('baseballdatabank-2022.2/core/Teams.csv')

In [31]:
df_teams['1B'] = df_teams['H'] - df_teams['2B'] - df_teams['3B'] - df_teams['HR']

In [32]:
df_teams.insert(17, '1B', df_teams.pop('1B'))

In [33]:
#Team runs created

df_teams['PrdTeamRunsCreated'] = (df_teams['H'] + df_teams['BB'] + df_teams['HBP']) * (df_teams['1B'] + (2*df_teams['2B']) + (3*df_teams['3B']) + (4*df_teams['HR'])) / (df_teams['AB'] + df_teams['BB'] + df_teams['HBP'])

In [34]:
df_teams

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro,PrdTeamRunsCreated
0,1871,NaN,BS1,BNA,NaN,3,31,NaN,20,10,...,0.834,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1,NaN
1,1871,NaN,CH1,CNA,NaN,2,28,NaN,19,9,...,0.829,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1,NaN
2,1871,NaN,CL1,CFC,NaN,8,29,NaN,10,19,...,0.818,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1,NaN
3,1871,NaN,FW1,KEK,NaN,7,19,NaN,7,12,...,0.803,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK,FW1,FW1,NaN
4,1871,NaN,NY2,NNA,NaN,5,33,NaN,16,17,...,0.840,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2980,2021,NL,SLN,STL,C,2,162,81.0,90,72,...,0.986,St. Louis Cardinals,Busch Stadium III,2102530.0,92,92,STL,SLN,SLN,695.035334
2981,2021,AL,TBA,TBD,E,1,162,81.0,100,62,...,0.986,Tampa Bay Rays,Tropicana Field,761072.0,92,91,TBR,TBA,TBA,763.703115
2982,2021,AL,TEX,TEX,W,5,162,81.0,60,102,...,0.986,Texas Rangers,Globe Life Field,2110258.0,99,101,TEX,TEX,TEX,600.213704
2983,2021,AL,TOR,TOR,E,4,162,80.0,91,71,...,0.984,Toronto Blue Jays,Sahlen Field,805901.0,102,101,TOR,TOR,TOR,848.265648
2984,2021,NL,WAS,WSN,E,5,162,81.0,65,97,...,0.983,Washington Nationals,Nationals Park,1465543.0,95,96,WSN,MON,WAS,760.190334

In [41]:
df_teams.query("franchID == 'BOS' & yearID == 2016")

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro,PrdTeamRunsCreated,ActTeamRunsCreated,TeamRunsCreatedError
2808,2016,AL,BOS,BOS,E,1,162,81.0,93,69,...,Fenway Park II,2955434.0,108,106,BOS,BOS,BOS,916.980545,38.980545,38.980545

In [39]:
df_teams['TeamRunsCreatedError'] = np.abs(df_teams['PrdTeamRunsCreated'] - df_teams['R'])

In [40]:
df_teams['TeamRunsCreatedError'].mean()

50.85291634831549